.app-footer {
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 340px;
    color: #fff;
    text-align: center;
    bottom: 0;
  }
  
  .contact-details {
    width: 33%;
    text-align: center;
    margin: 0 auto;
    float: left;
  }
  
  .address-detail {
    padding: 50px 0 0 0;
    width: 700px;
    height: auto;
    text-align: center;
    margin: 0 auto;
  }
  
  .social-medsos-center {
    text-align: center;
    margin: 0 auto;
    width: 14%;
    float: left;
    height: auto;
  }
  
  .social-medsos-right {
    text-align: center;
    margin: 0 auto;
    width: 43%;
    float: left;
    height: auto;
  }
  
  .social-medsos-left {
    text-align: center;
    margin: 0 auto;
    width: 43%;
    float: left;
    height: auto;
  }
  
  .contact-details p a {
    font-size: 20px;
    font-family: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
  }
  
  .medsos {
    font-size: 60px;
    float: left;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding: 30px;
  }
  
  .icon-medsos {
    width: 30%;
  }
  
  .social {
    width: 100%;
    height: 100px;
    float: left;
    text-align: center;
    margin: 0 auto;
  }
  
  .title-contact h4 {
    text-align: center;
    margin: 0 auto;
  }
  
  .title-contact {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 70px;
  }
  
  .title-contact i {
    text-align: center;
    margin: 0 auto;
    font-size: 24px;
  }
  
  .footer-text {
    width: 100%;
    float: left;
    font-size: 20px;
  }
  
  .col-copy {
    width: 100%;
    float: left;
  }
  
  .copyright {
    font-size: 18px;
    margin: 20px 0 10px;
  }
  .font-icon {
    font-size: 44px;
    margin: 10px;
  }
  @media only screen and (min-width: 600px) {
    .social-medsos-center {
      text-align: center;
      margin: 0 auto;
      width: 20%;
      float: left;
      height: 80px;
      /* background-color: yellow; */
    }
  
    .social-medsos-right {
      text-align: center;
      margin: 0 auto;
      width: 40%;
      float: left;
      height: auto;
    }
  
    .social-medsos-left {
      text-align: center;
      margin: 0 auto;
      width: 40%;
      float: left;
      height: auto;
    }
  
    .medsos {
      text-align: center;
      margin: 0 auto;
      padding: 5px;
    }
    .font-icon {
      font-size: 44px;
      margin: 10px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .app-footer {
      height: 380px;
    }
    .title-contact h4 {
      text-align: center;
      margin: 0 auto;
      font-size: 16px;
      margin-top: 10px;
    }
    .address-detail {
      padding: 50px 0 0 0;
      width: 300px;
      height: auto;
      text-align: center;
      margin: 0 auto;
    }
    .title-contact {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      height: 70px;
    }
    .contact-details p a {
      text-align: center;
      margin: 0 auto;
      font-size: 12px;
    }
  
    .title-contact i {
      text-align: center;
      margin: 0 auto;
      font-size: 24px;
    }
  
    .social-medsos-center {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      height: 100;
      padding: 5px 0;
    }
    .container-medsos {
      text-align: center;
      margin: 0 auto;
      padding: 0 35px;
      width: 320px;
      height: 80px;
    }
  
    .medsos {
      text-align: center;
      margin: 0 auto;
    }
    .font-icon {
      font-size: 44px;
      margin: 10px;
    }
  }
  @media only screen and (min-width: 768px) {
    .title-contact h4 {
      text-align: center;
      margin: 0 auto;
      font-size: 16px;
      margin-top: 10px;
    }
    .address-detail {
      padding: 50px 0 0 0;
      width: 700px;
      height: auto;
      text-align: center;
      margin: 0 auto;
    }
    .title-contact {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      height: 70px;
    }
    .contact-details p a {
      text-align: center;
      margin: 0 auto;
      font-size: 12px;
    }
  
    .title-contact i {
      text-align: center;
      margin: 0 auto;
      font-size: 24px;
    }
  
    .social-medsos-center {
      text-align: center;
      margin: 0 auto;
      width: 100%;
      height: 100;
      /* background-color: red; */
      padding: 5px 0;
    }
    .container-medsos {
      text-align: center;
      margin: 0 auto;
      padding: 0 35px;
      width: 320px;
      height: 80px;
      /* background-color: green; */
    }
  
    .medsos {
      text-align: center;
      margin: 0 auto;
    }
    .font-icon {
      font-size: 44px;
      margin: 10px;
    }
  }
  /* @media only screen and (min-width: 992px) {
  } */